# Ignore build results (recursive)
**/[Bb]in/
**/[Oo]bj/

# Rider / IntelliJ
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# OS junk
[Dd]esktop.ini
[Tt]humbs.db
*.DS_Store

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/

# Logs
*.log

# Other temporary files
*.userprefs

